<!doctype html>
<html lang="en">
  <head>
    
    <!-- Login webpage -->
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Homemade</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/myStyles.css')}}">
    
    <style>
      @media (min-width: 200px){
          .navbar-expand-custom {
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: flex-start;
          }
          .navbar-expand-custom .navbar-nav {
              flex-direction: row;
          }
          .navbar-expand-custom .navbar-nav .nav-link {
              padding-right: .5rem;
              padding-left: .5rem;
          }
          .navbar-expand-custom .navbar-collapse {
              display: flex!important;
          }
          .navbar-expand-custom .navbar-toggler {
              display: none;
          }
      }
      
/*
      body,html {
        height: 90%;
      }
*/
    
    </style>
    
  </head>
  
    
  <body>
    
    <!-- Nav bar -->
    <nav class="navbar sticky-top navbar-expand-custom navbar-light bg-success">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo01">
        <a class="navbar-brand text-light" href="/">Homemade</a>
      </div>
    </nav>
    
    
    <!-- Main container for feed -->
    <div class="container h-100" style="max-width: 45rem;">
      
      <br>
      
      <!-- Card container -->
      <div class="row align-items-center h-100 justify-content-center">
        <div class="card mb-3">
          <div class="clearfix">
            <div class="card-body">
                <h3 class="display-4 text-center">Join Homemade.</h3>
                <div class="container" style="max-width: 20rem;">
                  <p class="card-text text-center">Create an account to share and discover your favorite recipes from all around the world.</p>
                  <p class="card-text text-center">No account? <a href="/signup" class="card-link">Create one</a></p>
                </div>
              
                <br>
              
                <form>
                                  
                  <div class="form-group">
                    <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Email">
                    <small class="d-none"><div id="email1Error" class="form-text text-danger">Email Error</div></small>
                    <small class="d-none"><div id="email1Suggestion" class="form-text text-muted">Did you mean <a id='email1LinkSuggestion' href='javascript:changeEmailValue("#email1", email");'>email</a>?</div></small>
                  </div>
                  
                  <div class="form-group">
                    <input type="password" class="form-control" id="password1" placeholder="Password">
                    <small class="d-none"><div id="password1Error" class="form-text text-danger">Password Error</div></small>
                  </div>
                  
                  <button type="submit" class="btn btn-primary">Log me in!</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Initialized Firebase app    -->
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-app.js"></script>
    
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-auth.js"></script>
    <script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyCE6sBKtVsx130BqyloBvX5wlZbe1JCrEo",
        authDomain: "homemade-cuisine.firebaseapp.com",
        databaseURL: "https://homemade-cuisine.firebaseio.com",
        projectId: "homemade-cuisine",
        storageBucket: "homemade-cuisine.appspot.com",
        messagingSenderId: "817618132169"
    };
    firebase.initializeApp(config);
    </script>
    
    <!-- Already logged in script   -->
    <script type='text/javascript' src="{{ url_for('static', filename='alreadyLoggedIn.js')}}"></script>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mailcheck/1.1.2/mailcheck.js"></script>
    
    <!-- Custom javascript files   -->
    <script type='text/javascript' src="{{ url_for('static', filename='login.js')}}"></script>
  </body>
</html>
