<!doctype html>
<html lang="en">
  <head>
    
    <!-- Profile webpage -->
    
    <!--Initialized Firebase app    -->
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-app.js"></script>
    
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-auth.js"></script>
    <script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyCE6sBKtVsx130BqyloBvX5wlZbe1JCrEo",
        authDomain: "homemade-cuisine.firebaseapp.com",
        databaseURL: "https://homemade-cuisine.firebaseio.com",
        projectId: "homemade-cuisine",
        storageBucket: "homemade-cuisine.appspot.com",
        messagingSenderId: "817618132169"
    };
    firebase.initializeApp(config);
    </script>
    
    <!-- Not logged in script   -->
    <script type='text/javascript' src="{{ url_for('static', filename='notLoggedIn.js')}}"></script>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Homemade</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/myStyles.css')}}">
    
    <style>
      @media (min-width: 650px){
          .navbar-expand-custom {
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: flex-start;
          }
          .navbar-expand-custom .navbar-nav {
              flex-direction: row;
          }
          .navbar-expand-custom .navbar-nav .nav-link {
              padding-right: .5rem;
              padding-left: .5rem;
          }
          .navbar-expand-custom .navbar-collapse {
              display: flex!important;
          }
          .navbar-expand-custom .navbar-toggler {
              display: none;
          }
      }
    
    </style>
  </head>
  
    
  <body class='d-none'>
    
    <!-- Nav bar -->
    <nav class="navbar sticky-top navbar-expand-custom navbar-light bg-success">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand text-light" href="/">Homemade</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link text-light" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <b><a class="nav-link text-light" href="/profile">Profile</a></b>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="javascript:signoutUser()">Log out</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    
    
    <!-- Main container for feed -->
    <div class="container" style="max-width: 45rem;">
<!--      <h1>{{hello}}</h1>  -->
      
      <br>
      
      <!-- Card container -->
      <div class="card mb-3">
        
        <div class="clearfix">
          <a class="text-dark" href="#">
            <img src="http://fakeimg.pl/500x400/" class="prof-image--cover float-left" id="myProfImg">
          </a>
          <h6 class="card-title float-left" id="myName">Name</h6>
        </div>
        
      </div>
      <br>
      
      <!-- Card container -->
      <div class="card mb-3">
        
        <div class="clearfix">
          <a class="text-dark" href="#">
            <img src="http://fakeimg.pl/500x500/" class="image--cover float-left">
            <h6 class="card-title float-left" id="name">Name</h6>
          </a>
          <p class="card-title float-right" id="time" style="margin-right: 15px; margin-top: 15px;"><small class="text-muted">3 mins ago</small></p>
        </div>
        
        <img class="card-img-top post--cover" src="http://fakeimg.pl/1920x1080/" alt="Card image cap">
        
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a class="card-text" href="#"><small class="text-info">Read more</small></a>
        </div>
        
      </div>
      <br>
      
    </div>
    
    
    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <!-- Custom javascript files   -->
    <script type='text/javascript' src="{{ url_for('static', filename='profile.js')}}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='signout.js')}}"></script>
    
  </body>
</html>
